/* JohnHenry Ward */
/* johnhenry514@gmail.com */

@import 'https://fonts.googleapis.com/css?family=Lusitana|Raleway';

:root{
    --yellow-color: #D9B310;
    --dark-bg: #2F3234;
    --dark-bg-transparent: rgba(47, 50, 52, 0.5);
    --light-blue: #328CC1;
}

*{
    box-sizing: border-box;
}

html, body{
    background: linear-gradient(#0B3C5D, #1D2732);
    background-color: #1d2732;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.title{
    color: var(--yellow-color);
    text-align: center;
    font-family: 'Raleway';
}

.title a{
    color: var(--yellow-color);
}

main{
    margin-left: 80px;
    margin-right: 80px;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.text{
    background-color: var(--dark-bg-transparent);
    border-radius: 10px;
}

.text h4{
    color: var(--yellow-color);
    font-family: 'Raleway';
    margin: 10px 20px;
    text-align: center;
    font-size: 1.2em;
}

.text p{
    color: var(--yellow-color);
    font-family: 'Lusitana';
    margin: 5px 20px;
    font-size: 0.9em;
}

.images{
    background-color: var(--dark-bg-transparent);
    border-radius: 10px;
    margin-top: 20px;
}

.imagesTitle{
    color: var(--yellow-color);
    font-family: 'Raleway';
    padding-top: 10px;
    text-align: center;
    font-size: 1.2em;
}

.imageGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.images img{
    width: 80%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tools{
    background-color: var(--dark-bg-transparent);
    border-radius: 10px;
}

.tools h4{
    color: var(--yellow-color);
    font-family: 'Raleway';
    margin: 10px 20px;
    text-align: center;
    font-size: 1.2em;
}

.toolsFlex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.tools img{
    width: 15%;
    height: 80px;
    margin: 30px 20px;
}

.images>a>img{
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.images>a>img:hover{
    filter: blur(1px) brightness(80%);
    cursor: pointer;
}

/* Footer */

.copyright{
    color: var(--yellow-color);
    font-family: 'Raleway';
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.footerLinks{
    text-align: center;
}

.fa-github, .fa-linkedin-in, .fa-twitter{
    color: var(--yellow-color);
    margin: 1px 20px;
}

#githubFooter:hover{
    color: #6cc644;
}

#linkedinFooter:hover{
    color: #0077b5;
}

#twitterFooter:hover{
    color: #38a1f3;
}

.footerLinks a{
    text-decoration: none;
}

/* Media Queries */

@media(max-width: 700px){
    .info{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .images img{
        height: 100px;
    }
}

@media(max-width: 1050px){
    .info{
        margin-left: -50px;
        margin-right: -50px;
    }

    .images{
        margin-left: -50px;
        margin-right: -50px;
    }
}

@media(max-width: 1220px){
    .tools img{
        margin: 40px 20px;
    }
}

@media(min-width: 1600px){
    .info{
        grid-column-gap: 120px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .images{
        margin-left: 60px;
        margin-right: 60px;
    }

    .title{
        font-size: 3em;
    }

    .info h4, .images h4{
        font-size: 1.5em;
    }

    .imageGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}